body {
    background-color: #121212;
    color: #f5f5f5;
    font-family: "Roboto Mono", monospace;
}

h2 {
    color: #bb86fc;
    text-align: center;
}

.container {
    max-width: 1000px;
}

pre {
    white-space: pre-wrap; /* Enable line wrapping */
    word-wrap: break-word;
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 5px;
    margin: 0;
    overflow-x: auto;
}

.btn-primary {
    background-color: #bb86fc;
    border-color: #bb86fc;
}

.btn-primary:hover {
    background-color: #9b68c8;
    border-color: #9b68c8;
}

pre code {
    margin: 0;
    padding: 0;
    display: block;
}